<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction20211112232011.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3cd1fb9b-842c-4e66-a941-c2bf3281f963/resourcegroups/learn-f47ca1d5-3585-40f2-b9c0-e2d174dc7de9/providers/Microsoft.Web/sites/WatchPortalFunction20211112232011</ResourceId>
    <UserName>$WatchPortalFunction20211112232011</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunction20211112232011.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>